@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@{
    using (Html.BeginForm("GoogleLogin", "Account"))
    {
        @Html.AntiForgeryToken()
        <button class="btn btn-primary" type="submit">Log in via Google</button>
    }
}

